body {
    background-color: #dce2df;
}
button{
    margin-top:5px;
}

/*OCULTAR MENU*/
#menuAlquiler, #menuGestion, #menuListados, #panelMensajes
{
    display:none;
}

/*Ocultar alquileres*/
#frmNuevoAlquiler, #frmModificarAlquiler, #frmBorraAlquiler
{
    display:none;
}


/*OCULTAR Autobuses*/
#MenuGestionAutobuses
{
    display:none;
}

/*OCULTAR Clientes*/
#MenuGestionClientes, #frmClienteAlta, #frmClienteBaja, #frmClienteModificar
{
    display:none;
}
/*OCULTAR Conductores*/
#MenuGestionConductores, #frmAltaDeVacaciones, #frmBajaDeVacaciones,#frmModificarVacaciones
{
    display:none;
}
/*OCULTAR Listados*/


/*************/

#frmClienteModificar #comboCliente, #frmClienteBaja #comboCliente {
    background-color: #87CEFA;
}